@import "mixins";
@import "variables";

.form {
    @include flex-center();
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    @media (max-width: $mobile) {
        width: 100%;
    }
    transition: background-color 0.3s;
}

.form:focus-within {
    background-color: rgba(0, 0, 0, 0.2);
}

.form__input {
    width: calc(100% - 40px);
    padding: 0 10px;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.form__btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.form__btn:hover {
    background: rgba(255, 255, 255, 0.5);
}
