/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --bg-color: rgb(88, 184, 239);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
@media (max-width: 600px) {
  .form {
    width: 100%;
  }
}

.form:focus-within {
  background-color: rgba(0, 0, 0, 0.2);
}

.form__input {
  width: calc(100% - 40px);
  padding: 0 10px;
}

::-moz-placeholder {
  color: white;
  opacity: 0.5;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.form__btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.form__btn:hover {
  background: rgba(255, 255, 255, 0.5);
}

:root {
  --bg-color: rgb(88, 184, 239);
}

.suggest {
  align-self: center;
  margin: 100px 0;
}

.suggest__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 10px;
  justify-items: flex-start;
}
.grid-container input {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
  }
}

:root {
  --bg-color: rgb(88, 184, 239);
}

.header {
  position: absolute;
  top: 0;
  right: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
@media (max-width: 900px) {
  .header {
    right: 10px;
    left: 10px;
    min-height: 50px;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header__logo img {
  width: clamp(45px, 6vw, 65px);
  animation: movingLogo 10s infinite linear;
}
.header__logo p {
  font-size: clamp(24px, 4vw, 30px);
  line-height: 100%;
  color: white;
}

@keyframes movingLogo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.header__logo img:hover {
  animation-play-state: paused;
}

.header__day {
  font-size: clamp(18px, 3vw, 30px);
  font-weight: 500;
}

:root {
  --bg-color: rgb(88, 184, 239);
}

.weather {
  text-align: start;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .weather {
    flex-direction: column-reverse;
    text-align: center;
    height: 300px;
  }
}

.weather__temp {
  font-size: clamp(50px, 8vw, 72px);
  font-weight: 600;
}

.weather__city {
  font-size: clamp(30px, 5vw, 50px);
  font-weight: 500;
}

.weather__type {
  font-size: clamp(20px, 3vw, 40px);
  font-weight: 100;
}

.weather-img {
  width: 250px;
}
@media (max-width: 900px) {
  .weather-img {
    width: 100px;
  }
}

:root {
  --bg-color: rgb(88, 184, 239);
}

.weather-daily-container {
  height: 80%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 25px;
}
@media (max-width: 900px) {
  .weather-daily-container {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
  }
}

.day-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.day-container:not(.day-container:nth-last-of-type(1)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.day-container img {
  justify-self: center;
  width: 40px;
}

.day-container div {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  text-align: end;
  justify-self: flex-end;
}
.day-container div p:nth-child(2) {
  opacity: 0.5;
}

:root {
  --bg-color: rgb(88, 184, 239);
}

.weather-hourly-container {
  width: 100%;
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 1000px) {
  .weather-hourly-container {
    justify-content: flex-start;
  }
}
@media (max-width: 900px) {
  .weather-hourly-container {
    height: 100px;
    flex-shrink: 0;
  }
}
.weather-hourly-container div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

:root {
  --bg-color: rgb(88, 184, 239);
}

.details {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media (max-width: 900px) {
  .details {
    height: 80px;
    flex-shrink: 0;
  }
}

.details__humidity,
.details__speed {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.details__humidity i,
.details__speed i {
  font-size: 30px;
}

.humidity,
.speed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 600px) {
  .humidity,
  .speed {
    justify-content: space-between;
  }
}

.humidity__title,
.speed__title {
  font-weight: 100;
}

.footer {
  position: absolute;
  right: 25px;
  bottom: 0;
  left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
@media (max-width: 900px) {
  .footer {
    height: 50px;
    right: 10px;
    left: 10px;
  }
}

.copyright {
  font-size: clamp(12px, 2vw, 16px);
}

.creator {
  font-size: clamp(12px, 2vw, 16px);
}
.creator img {
  width: clamp(20px, 3vw, 25px);
  vertical-align: sub;
}

.creator a {
  position: relative;
  color: white;
}

.creator a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.creator a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

:root {
  --bg-color: rgb(88, 184, 239);
}

body {
  position: relative;
  min-height: 100dvh;
  width: 100%;
  background: var(--bg-color);
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.pop-up {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  place-content: center;
  width: 200px;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: 10px;
  animation: revealPopUp 0.5s forwards;
}

@keyframes revealPopUp {
  to {
    opacity: 1;
    top: 150px;
  }
}
.wrapper {
  position: absolute;
  top: 80px;
  right: 20px;
  bottom: 50px;
  left: 20px;
  height: calc(100% - 130px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: 10px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 10px;
  overflow-y: scroll;
}
@media (max-width: 900px) {
  .wrapper {
    height: calc(100% - 100px);
    padding: 10px 10px;
    top: 50px;
    right: 10px;
    bottom: 50px;
    left: 10px;
  }
}

.weather-container {
  width: 100%;
  height: calc(100% - 40px - 10px);
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 900px) {
  .weather-container {
    flex-direction: column;
    row-gap: 10px;
  }
}

.none {
  display: none !important;
}

.left-section {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
@media (max-width: 900px) {
  .left-section {
    width: 100%;
    min-height: -moz-min-content;
    min-height: min-content;
  }
}

.left-section--active {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.right-section {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
@media (max-width: 900px) {
  .right-section {
    width: 100%;
    min-height: -moz-min-content;
    min-height: min-content;
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */